/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  position: relative;
}

/* Back Arrow Icon */
.backIcon {
  position: absolute;
  top: 20px;
  left: -420px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
}

.backIcon:hover {
  color: #000;
}

.logo {
  width: 350px;
  display: block;
  margin: 0 auto 20px auto;
}

.forgotPasswordCard {
  text-align: left;
  width: 380px;
}

.forgotPasswordCard h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  color: black;
}

.forgotPasswordCard p {
  font-size: 14px;
  color: black;
  margin-bottom: 18px;
}

.inputGroup {
  display: flex;
  align-items: center;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.inputGroup .icon {
  color: #333;
  font-size: 20px;
  margin-right: 12px;
}

.inputGroup input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: #333;
}

.forgotPasswordButton {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.forgotPasswordButton:hover {
  background: #333;
}

.messageContainer {
  margin-top: 20px;
  min-height: 20px;
  text-align: center;
}

.successMessage {
  color: green;
  font-size: 14px;
}

.errorMessage {
  margin-bottom: 20px;
  color: red !important;
  font-size: 14px;
}

@media (max-width: 400px) {
  .forgotPasswordCard {
    width: 90%;
  }

  .forgotPasswordButton {
    font-size: 14px;
  }
}
