.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.logo {
  width: 350px;
  display: block;
  margin: 0 auto 20px auto;
}

.resetPasswordCard {
  text-align: left;
  width: 380px;
}

.resetPasswordCard h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  color: black;
}

.resetPasswordCard p {
  font-size: 14px;
  color: black;
  margin-bottom: 18px;
}

.inputGroup {
  display: flex;
  align-items: center;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  color: #333;
  font-size: 20px;
  margin-right: 12px;
}

.inputGroup input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: #333;
}

.resetPasswordButton {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.resetPasswordButton:hover {
  background-color: #555;
}

.messageContainer {
  margin-top: 20px;
  min-height: 20px;
  text-align: center;
}

.successMessage {
  color: green;
  font-size: 14px;
}

.errorMessage {
  color: red !important;
  font-size: 14px;
}
