/* Container */
.verifyOtpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}


/* Logo */
.logo {
  width: 350px;
  display: block;
  margin: 0 auto 20px auto;
}

/* Card */
.verifyOtpCard {
  text-align: left;
  width: 380px;
}

/* Heading */
.verifyOtpCard h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  color: black;
}

/* Description */
.verifyOtpCard p {
  font-size: 14px;
  color: black;
  margin-bottom: 18px;
}

/* Input Group */
.inputGroup {
  display: flex;
  align-items: center;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.inputGroup .icon {
  color: black;
  font-size: 20px;
  margin-right: 12px;
}

.inputGroup input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: black;
}

/* Verify OTP Button */
.verifyOtpButton {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.verifyOtpButton:hover {
  background: #333;
}

/* Message Container */
.messageContainer {
  margin-top: 20px;
  min-height: 20px;
  text-align: center;
}

.successMessage {
  color: green;
  font-size: 14px;
}

.errorMessage {
  margin-top: -5px;
  color: red !important;
  font-size: 14px;
}


.backButton {
  margin-top: 20px;
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}


.backButton:hover {
  color: black;
}

/* Responsive */
@media (max-width: 400px) {
  .verifyOtpCard {
    width: 90%;
    padding: 20px;
  }

  .verifyOtpButton {
    font-size: 14px;
  }
}
